In [1]:
# import pandas to deal with data
import pandas as pd

In [2]:
# read input files
X = pd.read_csv("VarX_Matrix.csv")
Y = pd.read_csv("VarY_Matrix.csv")
leafX = pd.read_csv("Leaf_DEGs_VarX_T1.csv")
leafY = pd.read_csv("Leaf_DEGs_VarY_T1.csv")

In [3]:
X.head()

,gene_name,VarXCRep.1,VarX1Rep.1,VarX2Rep.1,VarXCRep.2,VarX3Rep.2,VarX1Rep.2,VarX2Rep.2,VarXCRep.3,VarX3Rep.3,VarX1Rep.3,VarX2Rep.3
0,Soltu.DM.01G000010,360.700052,395.227998,323.259599,361.591070,327.738050,386.829098,336.399717,333.084376,317.495442,377.756613,396.666783
1,Soltu.DM.01G000020,91.124224,69.305383,77.361272,135.060696,61.852524,110.609900,68.216245,108.705361,55.316810,56.520402,36.147093
2,Soltu.DM.01G000030,439.168134,183.565610,232.083815,579.546161,220.901872,179.664700,179.234839,291.274622,222.419675,266.862153,208.321404
3,Soltu.DM.01G000040,268.310214,185.438729,192.021728,301.564094,130.934564,237.108515,203.979948,236.921941,92.194684,198.179132,38.049572
4,Soltu.DM.01G000050,341.715839,479.518329,504.229717,322.287692,528.557933,390.495724,470.157059,342.839985,554.320537,424.976190,634.476605

In [4]:
Y.head()

,gene_name,VarYCRep.1,VarY3Rep.1,VarY1Rep.1,VarY2Rep.1,VarYCRep.2,VarY3Rep.2,VarY1Rep.2,VarY2Rep.2,VarYCRep.3,VarY3Rep.3,VarY1Rep.3
0,Soltu.DM.01G000010,185.039639,178.406746,249.849327,217.128734,230.393862,237.671365,237.260807,258.043878,245.099836,195.600913,275.558171
1,Soltu.DM.01G000020,166.158043,72.017402,209.297866,98.191975,200.711217,72.046720,170.084554,83.843910,199.570455,66.520149,251.386401
2,Soltu.DM.01G000030,258.048476,122.756935,170.054516,181.171109,269.970721,232.702626,303.007778,214.086877,318.705670,224.901455,314.923623
3,Soltu.DM.01G000040,193.851050,62.196847,235.460099,56.702408,233.220780,14.078095,310.154188,88.728021,226.888084,121.161699,219.617790
4,Soltu.DM.01G000050,435.535477,450.108762,463.071528,502.023760,443.826212,550.701943,400.198952,582.837277,405.211494,460.097695,412.991945

In [5]:
leafX.head()

,gene,baseMean,log2FoldChange,stat,pvalue,Athaliana_geneID,Gene_Function,padj
0,Soltu.DM.01G000030,255.153308,-1.055459,-3.657941,2.542500e-04,AT2G02010,glutamate decarboxylase,1.500005e-02
1,Soltu.DM.01G000460,176.691837,1.125546,4.848498,1.240000e-06,AT3G46530,NB-ARC domain-containing disease resistance pr...,3.614270e-04
2,Soltu.DM.01G000480,268.691379,1.045359,5.094068,3.500000e-07,AT3G46730,NB-ARC domain-containing disease resistance pr...,1.439540e-04
3,Soltu.DM.01G000490,4082.280582,1.547666,6.956423,3.490000e-12,AT1G68050,flavin-binding; kelch repeat; f box,5.070000e-09
4,Soltu.DM.01G001550,857.812371,-1.008372,-4.140181,3.470000e-05,AT2G44300,Bifunctional inhibitor/lipid-transfer protein/...,3.758657e-03

In [6]:
leafY.head()

,gene,baseMean,log2FoldChange,stat,pvalue,Athaliana_geneID,Gene_Function,padj
0,Soltu.DM.01G000490,4082.280582,1.200495,5.394593,6.870000e-08,AT1G68050,flavin-binding; kelch repeat; f box,8.220000e-05
1,Soltu.DM.01G002360,1294.817473,2.132608,9.171426,4.670000e-20,AT3G20810,2-oxoglutarate (2OG) and Fe(II)-dependent oxyg...,4.820000e-16
2,Soltu.DM.01G035400,305.147236,1.197832,3.805581,1.414720e-04,NaN,conserved hypothetical protein,4.997128e-02
3,Soltu.DM.01G039720,223.855193,1.460418,4.679753,2.870000e-06,AT1G09155,phloem protein 2-B15,1.915023e-03
4,Soltu.DM.01G046580,514.061822,-1.142727,-4.110363,3.950000e-05,AT5G67420,LOB domain-containing protein,1.814450e-02

## Step 1
__Create all_VarX_TwoTimePoints.csv and all_VarY_TwoTimePoints.csv__

In [7]:
# create matrices
df1 = pd.concat([X[['gene_name']], X[['VarXCRep.1', 'VarXCRep.2', 'VarXCRep.3']], X[['VarX1Rep.1', 'VarX1Rep.2', 'VarX1Rep.3']]], axis=1)
df2 = pd.concat([Y[['gene_name']], Y[['VarYCRep.1', 'VarYCRep.2', 'VarYCRep.3']], Y[['VarY1Rep.1', 'VarY1Rep.2', 'VarY1Rep.3']]], axis=1)

In [8]:
# write them to a csv file
df1.to_csv("all_VarX_TwoTimePoints.csv", index=False)
df2.to_csv("all_VarY_TwoTimePoints.csv", index=False)

## Step 2
__Create Leaf_DEGs_VarX.csv and Leaf_DEGs_VarY.csv__

In [ ]:
# create dict from dataframe to access gene_name easily
X_dict = {df1.iloc[i, 0] : df1.iloc[i, 1:] for i in range(df1.shape[0])}
Y_dict = {df2.iloc[i, 0] : df2.iloc[i, 1:] for i in range(df2.shape[0])}

In [ ]:
# take subset from the differentially expressed genes data
leafX = leafX[['gene', 'log2FoldChange', 'padj', 'Athaliana_geneID', 'Gene_Function']]
leafY = leafY[['gene', 'log2FoldChange', 'padj', 'Athaliana_geneID', 'Gene_Function']]

In [ ]:
# add additional six columns for the expression of the three replicates
leaf_varx = pd.concat([leafX, pd.DataFrame([X_dict[leafX.iloc[i, 0]] for i in range(leafX.shape[0])]).reset_index(drop=True)], axis=1)
leaf_vary = pd.concat([leafY, pd.DataFrame([Y_dict[leafY.iloc[i, 0]] for i in range(leafY.shape[0])]).reset_index(drop=True)], axis=1)

In [ ]:
# write them into csv file
leaf_varx.to_csv("Leaf_DEGs_VarX.csv", index=False)
leaf_vary.to_csv("Leaf_DEGs_VarY.csv", index=False)