# Q1

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("Python_assess_dataset.csv")
df

,Species,sequence,gene_name,expression_level
0,Drosophila melanogaster,atatatatatcgcgtatatatacgactatatgcattaattatagca...,kdy647,264
1,Drosophila melanogaster,actgtgacgtgtactgtacgactatcgatacgtagtactgatcgct...,jdg766,185
2,Drosophila simulans,atcgatcatgtcgatcgatgatgcatccgactatcgtcgatcgtga...,kdy533,485
3,Drosophila simulans,atcgGGCTCGAatcatgtcgatcgatgGCTAGCatgcatccgacta...,kdy566,520
4,Drosophila yakuba,cgcgcgctcgcgcatacggcctaatgcgcgcgctagcgatgc,hdt739,85
5,Drosophila yakuba,gcgcttcgctgacgctgctggcacgcgcgctcgcgcatacggccta...,hdt776,185
6,Drosophila ananassae,ttacgatcgatcgatcgatcgatcgtcgatcgtcgatgctacatcg...,hdu045,356
7,Drosophila ananassae,gcatcgatcgatcgcggcgcatcgatcgcgatcatcgatcatacgc...,teg436,222
8,Drosophila ananassae,ggcgctgccgcgaaactctcgctcatcgatcgatcgcggcgccccg...,teg276,120

## a. Several Species

In [7]:
dm_genes = df.loc[df["Species"].isin(["Drosophila melanogaster"])]["gene_name"]
print("\n".join(list(dm_genes)))

kdy647
jdg766

## b. Length Range

In [8]:
len_genes = df.loc[df["sequence"].apply(lambda s: len(s)>=90 & len(s)<=110)]["gene_name"]
print("\n".join(list(len_genes)))

kdy647
jdg766
kdy533
kdy566
hdt739
hdt776
hdu045
teg436
teg276

## c. AT Content

In [9]:
def AT(seq):
    seq = seq.lower()
    a = seq.count("a")
    t = seq.count("t")
    return (a+t)/len(seq)

In [10]:
at_genes = [df.iloc[r, 2] for r in range(df.shape[0]) if AT(df.iloc[r, 1])<0.5 and df.iloc[r, 3]>200]
print("\n".join(at_genes))

kdy566
teg436

## d. Complex Condition

In [11]:
kh_genes = [df.iloc[r,2] for r in range(df.shape[0]) if (df.iloc[r,2][0] in ['k', 'h']) and (df.iloc[r,0] != "Drosophila melanogaster")]
print("\n".join(kh_genes))

kdy533
kdy566
hdt739
hdt776
hdu045

## e. High Low Medium

In [12]:
def high_low_mid_at(seq):
    at = AT(seq.lower())
    if at > 0.65:
        flag = "high"
    elif at < 0.45:
        flag = "low"
    else:
        flag = "medium"
    return flag

In [13]:
for r in range(df.shape[0]):
    gene, seq = df.iloc[r,2], df.iloc[r,1]
    print(f"{gene}: {high_low_mid_at(seq)}")

kdy647: high
jdg766: medium
kdy533: medium
kdy566: medium
hdt739: low
hdt776: low
hdu045: medium
teg436: medium
teg276: low

# Q2

#### print all the combinations of numbers from two dice

In [14]:
from itertools import product

In [15]:
all_nums = list(product(range(1,7), range(1,7)))
print(all_nums)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

#### make your own function to calculate the average value of all the sum of combinations

In [16]:
def average(all_nums):
    res = sum([p[0]+p[1] for p in all_nums])
    return res/len(all_nums)

print(average(all_nums))

7.0

#### make your own function to find the maximum value of all the sum of combinations

In [17]:
def maximum(all_nums):
    res = [p[0]+p[1] for p in all_nums]
    return max(res)

print(maximum(all_nums))

12

#### calculate the possibility of getting a sum of six

In [18]:
sum_six = [p for p in all_nums if p[0]+p[1]==6]
P_6 = len(sum_six)/len(all_nums)
print(P_6)

0.1388888888888889

#### calculate the possibility of getting a sum bigger than six

In [19]:
sum_gt_six = [p for p in all_nums if p[0]+p[1]>6]
P_gt_6 = len(sum_gt_six)/len(all_nums)
print(P_gt_6)

0.5833333333333334

# Q3

#### Write your own translation function to conduct the translation by using dictionary

In [20]:
Codons = {'TTT':'F', 'TTC':'F', 'TTA':'L', 'TTG':'L',
          'TCT':'S', 'TCC':'S', 'TCA':'S', 'TCG':'S',
          'TAT':'Y', 'TAC':'Y', 'TAA':'*', 'TAG':'*',
          'TGT':'C', 'TGC':'C', 'TGA':'*', 'TGG':'W',
          'CTT':'L', 'CTC':'L', 'CTA':'L', 'CTG':'L',
          'CCT':'P', 'CCC':'P', 'CCA':'P', 'CCG':'P',
          'CAT':'H', 'CAC':'H', 'CAA':'Q', 'CAG':'Q',
          'CGT':'R', 'CGC':'R', 'CGA':'R', 'CGG':'R',
          'ATT':'I', 'ATC':'I', 'ATA':'I', 'ATG':'M',
          'ACT':'T', 'ACC':'T', 'ACA':'T', 'ACG':'T',
          'AAT':'N', 'AAC':'N', 'AAA':'K', 'AAG':'K',
          'AGT':'S', 'AGC':'S', 'AGA':'R', 'AGG':'R',
          'GTT':'V', 'GTC':'V', 'GTA':'V', 'GTG':'V',
          'GCT':'A', 'GCC':'A', 'GCA':'A', 'GCG':'A',
          'GAT':'D', 'GAC':'D', 'GAA':'E', 'GAG':'E',
          'GGT':'G', 'GGC':'G', 'GGA':'G', 'GGG':'G'}

In [21]:
def translation(dna):
    return "".join([Codons[dna[i:i+3]] for i in range(0, len(dna)-2, 3)])


dna = "GTCTCTACCTTGACAGACCTCCAGCCGTATCATGCGACAGTTCGTGGCTCACCTGCAGGAGACCTAGCCCGCTGAGGAGATGCCGTCAGTCATCGAGCAG"
print(translation(dna))

VSTLTDLQPYHATVRGSPAGDLAR*GDAVSHRA

#### Conduct 3-frame translation (forward) using both your own function and biopython method

In [22]:
for i in range(3):
    seq = dna[i:]
    print(translation(seq))

VSTLTDLQPYHATVRGSPAGDLAR*GDAVSHRA
SLP*QTSSRIMRQFVAHLQET*PAEEMPSVIEQ
LYLDRPPAVSCDSSWLTCRRPSPLRRCRQSSS

In [23]:
from Bio.Seq import translate 

for i in range(3):
    seq = dna[i:]
    print(translate(seq, table=1))

VSTLTDLQPYHATVRGSPAGDLAR*GDAVSHRA
SLP*QTSSRIMRQFVAHLQET*PAEEMPSVIEQ
LYLDRPPAVSCDSSWLTCRRPSPLRRCRQSSS

/usr/local/lib/python3.8/dist-packages/Bio/Seq.py:3482: BiopythonWarning: Partial codon, len(sequence) not a multiple of three. Explicitly trim the sequence or add trailing N before translation. This may become an error in future.
  warnings.warn(

#### Conduct 3-frame translation (reverse complement) using both your own function and biopython method

In [24]:

from Bio.Seq import reverse_complement

rev_dna = reverse_complement(dna)
for i in range(3):
    seq = rev_dna[i:]
    print(translation(seq))

LLDD*RHLLSGLGLLQVSHELSHDTAGGLSR*R
CSMTDGISSAG*VSCR*ATNCRMIRLEVCQGRD
AR*LTASPQRARSPAGEPRTVA*YGWRSVKVE

In [25]:

from Bio.Seq import translate

for i in range(3):
    seq = rev_dna[i:]
    print(translate(seq, table=1))

LLDD*RHLLSGLGLLQVSHELSHDTAGGLSR*R
CSMTDGISSAG*VSCR*ATNCRMIRLEVCQGRD
AR*LTASPQRARSPAGEPRTVA*YGWRSVKVE

#### NM_198253.3_sequence.fasta file includes multilines DNA sequence of human TERT gene, one exon starts from position 2734 to 2922 (inclusive), translate this exon’s DNA sequence to amino acid sequence

In [26]:
with open("NM_198253.3_sequence.txt", "r") as f:
    header = f.readline()
    sequence = f.read().replace("\n", "")

In [27]:
print(translation(sequence))

LSSRREFQAALRPAAHVGSPGPGHPRDAARSPLPSRALPAAQPLPRGAAAGHVRAAPGAPGLAAGAARGPGGFPRAGGPVPGVRALGRTAAPRRPLLPPGVLPEGAGGPSAAEAVRARREERAGLRLRAAGRGPRGPPRGLHHQRAQLPAQHGDRRTAGERGVGAAAAPRGRRRAGSPAGTLRALCAGGSQLRLPGVRAAAVPARRCHSGPAPATR*WTPKASGMRTGLEP*RQGGRGPPGPASPGCEEARGQCQPKSAVAQEAQAWRCP*AGADARWAGVLGPPGQDAWTE*PWFLCGVTCQTRRRSHLFGGCALWHAPLPPIRGPPAPRGPPIHIAATTSLGHALSPGVRRDQALPLLLRRQGAAAALLPTQLSEAQPDWRSEARGDHLSGFQALDARDSPQVAPPAPALLANAAPVSGAAWEPRAVPLRGAPQDALPAASCGHPSSRCLCPGEAPGLCGGPRGGGHRPPSPGAAAPPAQQPLAGVRLRAGLPAPAGAPRPLGLQAQRTPLPQEHQEVHLPGEACQALAAGADVEDERAGLRLAAQEPRGWLCSGRRAPSA*GDPGQVPALADECVRRRAAQVFLLCHGDHVSKEQALFLPEECLEQVAKHWNQTALEEGAAAGAVGSRGQAASGSQARPADVQTPLHPQA*RAAADCEHGLRRGSQNVPQRKEGRASHLEGEGTVQRAQLRAGAAPRPPGRLCAGPGRYPQGLAHLRAACAGPGPAA*AVLCQGGCDGRVRHHPPGQAHGGHRQHHQTPEHVLRASVCRGPEGRPWARPQGLQEPRLYLDRPPAVHATVRGSPAGDQPAEGCRRHRAELLPE*GQQWPLRRLPTLHVPPRRAHQGQVLRPVPGDPAGLHPLHAALQPVLRRHGEQAVCGDSAGRAAPAFGG*FLVGDTSPHPRENLPQDPGPRCP*VWLRGELAEDSGELPCRRRGPGWHGFCSDAGPRPIPLVRPAAGYPDPGGAERLLQLCPDLHQSQSHLQPRLQGWEEHASQTLWGLAAEVSQPVSGFAGEQPPDGVHQHLQDPPAAGVQVSRMCAAAPISSASLEEPHIFPARHL*HGLPLLLHPESQERRDVAGGQGRRRPSALRGRAVAVPPSIPAQADSTPCHLRATPGVTQDSPDAAESEAPGDDADCPGGRSQPGTALRLQDHPGLMATRPQPGREQTPAALSRRALRPREGGAAHTQARTAGSLRPE*VFGRGLHVRLKAECPAEA*ASVQPRAECPAHLPSSLPHRLALGSTPGPAFPHQEPGFHSPHRNSPSPDSPLFTPRPALLCLPPPPSRWRP*EGPWELWEFGVTKGVPCTQARTLHLDGGPCGSNWGEVLWE*NTEYMSFSVLKK

# Q4

In [28]:
from Bio import SeqIO

In [29]:
sequences = {record.id:str(record.seq) for record in SeqIO.parse("Covid19_6files.txt", "fasta")}

In [30]:
def AT(seq):
    seq = seq.lower()
    a = seq.count("a")
    t = seq.count("t")
    return round(((a+t)/len(seq))*100, 2)

In [31]:
for Id, seq in sequences.items():
    print(f"{Id}, length = {len(seq)}, AT_content = {AT(seq)}%")

NC_045512.2, length = 29903, AT_content = 62.03%
LR757995.1, length = 29872, AT_content = 62.0%
LR757996.1, length = 29868, AT_content = 62.0%
LR757998.1, length = 29866, AT_content = 62.01%
MW181765.1, length = 29782, AT_content = 58.62%
MW181750.1, length = 29782, AT_content = 61.53%

# Q5

In [32]:
with open("genomic_dna.txt", "r") as f:
    genome = f.read().replace("\n", "")

with open("exons.txt", "r") as f:
    exons = [list(map(int, l.strip().split(","))) for l in f.readlines()]

In [33]:
def GC(seq):
    seq = seq.lower()
    g = seq.count("g")
    c = seq.count("c")
    return round(((g+c)/len(seq))*100, 2)

In [34]:
for pos in exons:
    segment = genome[pos[0]:pos[1]]
    print(f"{segment}, length = {len(segment)}, GC_content = {GC(segment)}%")

CGTACCGTCGACGATGCTACGATCGTCGATCGTAGTCGATCATCGATCGATCG, length = 53, GC_content = 54.72%
CGATCGATCGATATCGATCGATATCATCGATGCATCGATCATCGATCGATCGATCGATCGA, length = 61, GC_content = 45.9%
CGATCGATCGATCGTAGCTAGCTAGCTAGTGGGCGTATCGATCATCATCGTAGCTAGCTCGACTAGCTACGTACGATCGATGCATC, length = 86, GC_content = 51.16%
CTAGCTAGCTACGATCGATCGATCGATCGATCGATCGATCGATCGATCGATCGTAGCT, length = 58, GC_content = 50.0%